
//input
$input-color: #bdbdbd;
$input-border-color: #D5D5D5;
$valid-input: #11AD48;

//main
$color-primary: #212121;
$color-primary-black: #000000;;
$color-primary-lighter: #333333;
$color-secondary: #ffffff;
$color-orange: #FF862A;
$color-orange-hover: #FF865F;;
$color-gray: #86878b;
$text-primary: #86878b;
$soc-icon-color: #cccccc;
$drop-naw-link: #646464;
$nav-shadow: #39465F;
$sub-list-shadow: #c3c3c3;
$color-grey-light: #F5F5F5;

//tabs
$tab-bg: #3B485F;