.header {
  background-color: #37495e;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-link {
    margin-right: 15px;
  }
  &__logo-img {
    max-width: 190px;
    object-fit: contain;
  }
  @include sm_769 {
    padding: 15px 0;
  }
}


.dropdown-nav {
  &__list {

  }
  &__item {

  }
  &__link {

  }
}